<section class="login-form">
  <div class="login-form--title">{{showSignInForm? 'Sign In to your Account':'Sign Up'}}</div>
  <form [formGroup]="signInForm" class="login-form--form" *ngIf="showSignInForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="
                signInForm.get('username')?.errors?.['required']
              ">Email is required</mat-error>
      <mat-error *ngIf="
                        signInForm.get('username')?.errors?.['email']
                      ">The format doesn`t look right. Enter correct email.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="passwordType" />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="signInForm.get('password')?.hasError('minlength')">
        Password must be at least 7 characters long
      </mat-error>
    </mat-form-field>
    <div class="login-form--footer">
      <button mat-raised-button color="primary" type="submit" (click)="signIn()">
        Log In
      </button>
      <div>No account yet? <button mat-button color="accent" (click)="initSignUpForm()" type="button">Create
          account</button></div>
    </div>
  </form>
  <form [formGroup]="signUpForm" class="login-form--form" *ngIf="showSignUpForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="
          signUpForm.get('username')?.errors?.['required']
        ">Email is required</mat-error>
      <mat-error *ngIf="
                  signUpForm.get('username')?.errors?.['email']
                ">The format doesn`t look right. Enter correct email.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="passwordType" />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">
        Password must be at least 7 characters long
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" [type]="passwordType" />
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error
        *ngIf="signUpForm.get('confirmPassword')?.errors?.['mismatch'] && !signUpForm.get('confirmPassword')?.errors?.['required']">
        Passwords do not match
      </mat-error>
      <mat-error *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">
        Confirm Password is required
      </mat-error>
    </mat-form-field>
    <div class="login-form--footer">
      <button mat-raised-button color="primary" type="submit" (click)="signUp()">
        Sign Up
      </button>
      <button mat-button color="accent" (click)="initSignInForm()" type="button"><mat-icon
          fontIcon="arrow_back"></mat-icon>Go
        Back</button>
    </div>
  </form>
</section>