<div class="pet-menu" [class.pet-menu-center]="showSpinner">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <ng-container *ngIf="!showSpinner">
        <ul class="pet-menu--main">
            <li class="pet-menu--main--title">{{title}}</li>
            <li class="pet-menu--main--li pet-menu--main--li__level">
                <div><span>Level </span><span class="pet-menu--main--li__level__number">{{level}}</span></div>
                <app-shared-pet-progress-bar [progressAmount]="exp"></app-shared-pet-progress-bar>
            </li>
            <li class="pet-menu--main--li">
                <div>Bore</div>
                <app-shared-pet-progress-bar [progressAmount]="bore" [color]="redColor"></app-shared-pet-progress-bar>
            </li>
            <li class="pet-menu--main--li">
                <div>Hunger</div>
                <app-shared-pet-progress-bar [progressAmount]="hunger" [color]="redColor"></app-shared-pet-progress-bar>
            </li>
            <li class="pet-menu--main--li">
                <div>Tiredness</div>
                <app-shared-pet-progress-bar [progressAmount]="tiredness" [color]="redColor"></app-shared-pet-progress-bar>
            </li>
            <li class="pet-menu--main--li">
                <div>Dirtiness</div>
                <app-shared-pet-progress-bar [progressAmount]="dirtiness" [color]="redColor"></app-shared-pet-progress-bar>
            </li>
        </ul>
    </ng-container>
</div>