.pet {
  img {
    max-height: 630px;
  }
  width: 200px;
}
.max-height {
  img {
    max-height: 380px;
  }
}

.washing {
    img {
      max-height: 440px;
    }
    width: 100%;
  }

  .feeding {
    img {
      max-height: 370px;
    }
  }

  .playing {
    img {
      height: 350px;
    }
    width: 100%;
  }