.mat-mdc-form-field.mat-form-field-appearance-outline {
  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 24px;
    padding: 0 20px 0 0;
    width: 30px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    height: 24px;
    width: 24px;
  }

  .mat-mdc-form-field-infix {
    display: flex;
    align-items: center;
    height: 40px;
    min-height: 40px;
    line-height: 14px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .mat-mdc-form-field-icon-suffix,
  .mat-mdc-form-field-text-suffix {
    display: flex;
    align-items: center;
    margin: auto 0;
    font-size: 14px;
  }

  .mdc-notched-outline__notch {
    .mdc-floating-label:not(.mdc-floating-label--float-above) {
      top: calc(50%);
      font-size: 14px;
    }

    .mdc-floating-label:not(.mdc-floating-label--float-above) {
      .mat-mdc-form-field-required-marker {
        margin-left: 3px;
      }
    }
  }

  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper,
  mat-mdc-form-field-error mat-mdc-form-field-bottom-align {
    padding: 0 14px;
  }

  .mat-mdc-form-field-error {
    display: flex;
    line-height: 20px;
    font-size: 12px;
    padding-top: 3px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .mat-mdc-select {
    font-size: 14px;
  }

  .mat-mdc-select-arrow-wrapper {
    display: none;
  }
}

.mdc-button {
  font-family: 'Poppins', sans-serif;
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
  font-family: 'Poppins', sans-serif;
}

.mat-expansion-panel {
  --mat-expansion-container-background-color: var(--green-background);
  --mat-expansion-container-text-color: #32323c;
  --mat-expansion-header-text-color: #32323c;
  --mat-expansion-header-description-color: #32323c;
  --mat-expansion-header-indicator-color: #32323c;
  --mat-expansion-container-shape: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
  font-family: 'Poppins', sans-serif;
  border: 0 !important;
}

.mat-expansion-panel-header-title {
  font-family: 'Poppins', sans-serif;
}

.mat-expansion-panel-header {
  padding: 0 10px !important;
}

.mat-expansion-panel-body {
  padding: 0 10px 10px !important;
}